<div class="card-content card-title"><%= product.title%></div>
<div class="card-image">
  <img src="<%= product.coverLink%>" alt="<%= product.title%>">
</div>
<div class="card-content card-price">£<%= product.price%></div>
<div class="card-content card-author"><%= product.author%></div>
<div class="card-content card-description"><%= product.desc%></div>
