<%- include("./includes/start.ejs") %>
<%- include("./includes/head-start.ejs") %>
<%- include("./includes/head-end.ejs") %>
<%- include("./includes/header.ejs") %>

<section class="main-container">

  <%- include("./includes/new-product.ejs") %>
  <hr class="solid" />
  <%- include("./includes/delete-product-list.ejs") %>


</section>
<%- include("./includes/end.ejs") %>