<%- include("./includes/start.ejs") %>
<%- include("./includes/head-start.ejs") %>
<%- include("./includes/head-end.ejs") %>
<%- include("./includes/header.ejs") %>

<p>Welcome Shop!</p>

<%- include("./includes/end.ejs") %>