<%- include("../includes/start.ejs") %>
<%- include("../includes/head-start.ejs") %>
<%- include("../includes/head-end.ejs") %>
<%- include("../includes/header.ejs") %>

<div class = "cart">
  <%for (let i = 0; i< cart.items.length;i ++) {const product=  cart.items[i]; %>
  <div class="cart-item">
    <%- include("../includes/book-detail.ejs", {product: product}) %>
    <div class="card-content actions">
    <form action="shop/add-to-cart">
    <input class="button "type="button" value="Add to Cart!">
    <input type="hidden" name="id" value="<%= cartItem.id%>">
    </form>
    </div>
  </div>
  <% }%>
</div>

<%- include("../includes/end.ejs") %>