<%- include("../includes/start.ejs") %>
<%- include("../includes/head-start.ejs") %>
<%- include("../includes/head-end.ejs") %>
<%- include("../includes/header.ejs") %>

<h1>Shop Detail for BookId<%= book.Id%></h1>


<%- include("../includes/end.ejs") %> 